<div class="grid-y grid-frame">
  <div class="cell auto">
  </div>
  <div class="cell shrink">
    <div class="grid-x">
      <div class="cell auto">
      </div>

      <div class="cell small-10 medium-3 large-2">
        <h2 class="text-center">Log in</h2>
        <div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>

            <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>

            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            <% end -%>

            <%= f.submit "Log in" %>
          <% end %>            
        </div>
      </div>
      <div class="cell auto">
      </div>

    </div>
    <%= render "devise/shared/links" %>
  </div>

  <div class="cell auto">
  </div>
</div>
